.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    position: relative;
    text-align: center;
    color: var(--primary-opp-color);
}

main {
    width: 100%;
    padding: 0 5em;
}

main .nav-header {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.search-bar {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 0.5em;
    padding: 1rem;
    border: 1px solid var(--primary-opp-color);
}

.search-bar input {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
}

.search-bar i {
    cursor: pointer;
    position: absolute;
    right: 1em;
    color: black;
}

.search-bar input::placeholder {
    color: #aaa;
    font-weight: 800;
}

.btn {
    width: 80px;
    background-color: #04befe;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    height: 40px;
    color: var(--primary-opp-color);
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.content_table {
    width: 100%;
    margin-top: 5%;
    border-collapse: collapse;
    color: #04befe;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.content_table thead tr {
    padding: 0.3rem;
    color: var(--primary-opp-color);
    text-align: left;
    font-weight: bold;
    background-image: linear-gradient(-45deg, #9065ee 0%, #04befe 50%);
}

.content_table th,
.content_table td {
    padding: 12px 15px;
}

.content_table tbody tr {
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.content_table tbody tr:hover {
    background-color: var(--third-color);
}

.content_table tbody tr td:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
}

.content_table tbody tr td:nth-of-type(2) .assignee_username {
    background-color: #04befe;
    border: none;
    border-radius: 25px;
    background-repeat: no-repeat;
    padding: 1% 8%;
    color: white;
}

.content_table tbody tr:last-of-type {
    border-bottom: 2px solid #04befe;
}

.content_table tbody tr.active-row {
    font-weight: bold;
    color: #04befe;
}

@media (max-width: 900px) {
    main .nav-header {
        display: block;
    }

    .search-bar input {
        width: 17rem;
    }

    .new-button {
        margin-top: 0.5rem;
    }
}

.modal_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.modal_container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: relative;
    background: var(--third-color);
    width: 50%;
    padding: 2em 2em;
    border-radius: 4px;
    min-height: 50%;
}

.modal_close {
    position: absolute;
    right: 4%;
    top: 4%;
    color: var(--primary-opp-color);
    transition: .2s;
    cursor: pointer;
}

.modal_close:hover {
    color: red;
}

.modal_body {
    display: flex;
    flex-direction: column;
    color: var(--primary-opp-color);
}

.modal_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.8em 0;
}

.modal_group label {
    flex: 1;
    width: auto;
    text-align: left;
}

.modal_group input,
.modal_group fieldset {
    flex: 4;
    outline: none;
    border: none;
    text-align: left;
    background-color: var(--third-color);
    color: var(--third-opp-color);
}

.modal_group input[type=datetime-local] {
    cursor: pointer;
}

.modal_group fieldset {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 4fr 1fr 2fr;
    align-items: center;
}

.modal_title {
    font-size: 2em;
    border: none;
    outline: none;
    margin-bottom: 0.5em;
    background-color: var(--third-color);
    color: var(--third-opp-color);
}

.modal_icon {
    flex: 1;
    font-size: 1em;
    width: 3%;
    height: auto;
    margin-right: 1em;
    max-width: 3%;
}

.add_btn {
    background-color: var(--primary-opp-color);
    cursor: pointer;
    margin: 2em 0 0 0;
    border: none;
    box-shadow: 0 2px 10px rgba(77, 77, 77, 0.7);
    padding: 0.5em;
    width: 50%;
    border-radius: 5px;
    transition: .2s;
}

.add_btn:hover {
    background-color: var(--secondary-opp-color);
}

/*.masonry_container {
    margin: 20px auto;
    width: 100%;
    columns: 3;
    column-gap: 20px;
}

.masonry_container .masonry_box {
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    background-color: var(--third-color);
    overflow: hidden;
    border-radius: 10px;
    break-inside: avoid;
    box-shadow: inset 0 1px 10px 0 black;
}

.masonry_container .masonry_box h2 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
    color: var(--primary-opp-color);
}

.masonry_container .masonry_box p {
    margin: 0;
    padding: 0 0 10px;
    font-size: 16px;
    color: var(--primary-opp-color);
}*/