<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>NotionGriff</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div *ngIf="!isEditMode" class="content_data">
        <div class="left_data">
          <div class="header_title">
            <label>Title</label>
            <p>{{note.title}}</p>
          </div>
          <div class="data_description">
            <label>Description</label>
            <p>{{note.description}}</p>
          </div>
        </div>
        <div class="right_data">
          <div class="btns_other">
            <button class="btn_edit" (click)="isEditMode=true">Edit</button>
            <button class="btn_delete" (click)="deleteNote()">Delete</button>
          </div>
          <div class="other">
            <label>Assignee</label>
            <p>{{note.assignee}}</p>
          </div>
          <div class="other">
            <label>Status</label>
            <p>{{note.status}}</p>
          </div>
          <div class="other">
            <label>Priority</label>
            <p>{{note.priority}}</p>
          </div>
          <div class="other">
            <label>Due Date</label>
            <p>{{note.dueDate}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="isEditMode" class="content_data_edit">
        <div class="modal">
            <div class="modal_body">
                <input type="text" class="modal_title" type="text" placeholder="Untitled" id="modalTitleInput" [value]="note.title"/>                
                <div class="modal_group">
                    <fa-icon class="modal_icon" [icon]="faPerson"></fa-icon>
                    <label>Assignee</label>
                    <input placeholder="Empty" id="modalAssigneesInput" type="text" [value]="note.assignee"/>
                </div>
                <div class="modal_group">
                    <fa-icon class="modal_icon" [icon]="faListCheck"></fa-icon>
                    <label>Status</label>
                    <fieldset class="modal_fieldset">
                      <input *ngIf="note.status==='To do'" type="radio" value="To do" name="group_status" (click)="note.status='To do'" checked/>
                      <input *ngIf="note.status!=='To do'" type="radio" value="To do" name="group_status" (click)="note.status='To do'"/>To do
                      <input *ngIf="note.status==='In progress'" type="radio" value="In progress" name="group_status" (click)="note.status='In progress'" checked/>
                      <input *ngIf="note.status!=='In progress'" type="radio" value="In progress" name="group_status" (click)="note.status='In progress'"/>In progress
                      <input *ngIf="note.status==='Done'" type="radio" value="Done" name="group_status" (click)="note.status='Done'" checked/>
                      <input *ngIf="note.status!=='Done'" type="radio" value="Done" name="group_status" (click)="note.status='Done'"/>Done
                    </fieldset>
                </div>
                <div class="modal_group">
                    <fa-icon class="modal_icon" [icon]="faBarsProgress"></fa-icon>
                    <label>Priority</label>
                    <fieldset class="modal_fieldset">
                      <input *ngIf="note.priority==='Low'" type="radio" value="Low" name="group_priority" (click)="note.priority=1" checked/>
                      <input *ngIf="note.priority!=='Low'" type="radio" value="Low" name="group_priority" (click)="note.priority=1"/>Low
                      <input *ngIf="note.priority==='Medium'" type="radio" value="Medium" name="group_priority" (click)="note.priority=2" checked/>
                      <input *ngIf="note.priority!=='Medium'" type="radio" value="Medium" name="group_priority" (click)="note.priority=2"/>Medium
                      <input *ngIf="note.priority==='High'" type="radio" value="High" name="group_priority" (click)="note.priority=3" checked/>
                      <input *ngIf="note.priority!=='High'" type="radio" value="High" name="group_priority" (click)="note.priority=3" />High
                    </fieldset>
                </div>
                <div class="modal_group">
                    <fa-icon class="modal_icon" [icon]="faCalendar"></fa-icon>
                    <label>Due date</label>
                    <input placeholder="Empty" type="datetime-local" [value]="note.dueDate" (change)="target=$event.target"/>
                </div>
                <div class="modal_group">
                    <fa-icon class="modal_icon" [icon]="faMessage"></fa-icon>
                    <label>Description</label>
                    <input placeholder="Empty" id="modalDescInput" type="text" [value]="note.description"/>
                </div>
            </div>
        </div>
        <div class="btns_modal">
          <div class="btn_modal" (click)="updateNote()">Save</div>
          <div class="btn_modal" (click)="isEditMode=false">Cancel</div>
        </div>
      </div>
    </div>
  </body>
</html>
